mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
    margin: auto;
}

mat-card {
    padding: 20px;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

.image-picker {
    margin-bottom: 22px;
    display: flex;
    width: 100%;
    justify-content: end;
    flex-direction: column;
}